<h1 class="uk-text-center">
    <div>Kurzus</div>
    <div>
    {{course?.name}}
        </div>  
</h1>
<div [innerHtml]="item?.content" class="content">
    
</div>
<div class="uk-flex">
    <div class="uk-flex-1">
        <button [disabled]="page==1"   class="uk-button uk-button-primary" (click)="prev();" >Előző</button>
    </div>
    <div class="uk-flex-1 uk-text-center">
        <button  *ngIf="page == itemCount && ( course?.quizItems?.length || 0 ) > 0" class="uk-button uk-button-primary" (click)="quizStart();" >Quiz kitöltése</button>
        <button  *ngIf="page == itemCount && ( course?.quizItems?.length || 0 ) == 0" class="uk-button uk-button-primary" (click)="finishCourse();" >Gratulálunk. A kurzus végére értél! Befejezéshez kattints ide!</button>
    </div>
    <div class="uk-flex-1 uk-text-right">
        <button [disabled]="page==itemCount"  class="uk-button uk-button-primary"  (click)="next();">Következő</button>
    </div>

</div>
